.detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80vw; // 设定宽度
    margin: 3rem auto; // 水平居中
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;

    .info-section {
        flex: 1;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        gap: 2rem; // 间距
        margin: 3rem 1rem; // 边距
    }

    .line {
        width: 1px;
        height: 100%;
        // height: calc(100% - 20px); // 根据容器高度调整
        background-color: #ccc;
    }

    .list-section {
        margin: 3rem 1rem; // 边距
    }
}