.articleDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    overflow: hidden; // 防止内容溢出
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // 盒阴影

    &.left {
        flex-direction: row;
    }

    &.right {
        flex-direction: row-reverse;
    }

    .imageContainer {
        flex: 0 0 377px; // 固定图片的大小
        cursor: pointer;

        img {
            transition: transform 0.3s ease-in-out;
            object-fit: cover;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .contentContainer {
        flex: 1;
        padding-left: 40px;

        .title {
            font-size: 1.5em;
            margin-bottom: 0.5em;
            transition: color 0.5s ease-in-out;

            cursor: pointer;

            &:hover {
                color: #49b1f5b3;
            }
        }

        .date {
            font-size: 0.7em;
            color: #666;
            margin-bottom: 1em;

            .pin {
                color: #ff7242;
            }

            & span {
                margin-left: 0px;
            }
        }

        .description {
            font-size: 0.6em;
            color: #333;
        }
    }
}