.tocBox {
    position: relative;
    margin: 6px 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .header {
        top: 0;
        margin: 0px 14px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-title {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .toc-body {
        // overflow-y: scroll;
        overflow: hidden;
        margin: 0 14px;
        max-height: calc(100% - 60px);
    }

    .toc-ul {
        position: relative;
        font-size: 16px;
        color: #666261;
        line-height: 24px;

        .toc-li {
            position: relative;
            text-decoration: none;
            display: block;
            padding: 0 4px;
            transition: all 0.3s ease-in-out;
            font-size: 14px;
            line-height: 24px;

            &:hover {
                color: #49b1f5b3;
            }

            &:hover::before {
                transform: scale(1.1);
            }

            &::before {
                content: "";
                position: absolute;
                left: -12px;
                top: 30%;
                transform: translateY(-50%) scale(0);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #49b1f5b3;
                transition: all 0.3s ease-in-out;
            }
        }

        .toc-selected {
            background-color: #00c4b6;
            color: #f7f7f7;
            border-radius: 4px;

            transition: background-color 0.3s ease-in-out;

            &:hover {
                color: #f9f9f9;
                background-color: #00c4b6cc;
            }
        }
    }
}