.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.rssButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    width: 80px;

    background-color: #ff6d0b;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #d5d5d5;

    transition: color 0.4s, box-shadow 0.2s;

    cursor: pointer;

    &:hover {
        color: #333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

// SCSS Styles
.subscribeContainer {
    position: relative;
    display: flex;
    height: 48px;
    min-width: 300px;

    .emailInput {
        border: 2px solid #00bcd4;
        padding: 10px;
        border-radius: 5px 0 0 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-right: -1px;
        flex: 1;
        font-size: 16px; // 设置合适的字体大小确保高度一致
        box-sizing: border-box; // 确保内边距和边框不会增加输入框的总高度

        &:focus {
            outline: none;
            border-color: #00acc1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &::placeholder {
            color: #ccc;
        }
    }

    .emailButton {
        height: 48px;
        background-color: #00bcd4;
        border: none;
        padding: 10px 10px;
        border-radius: 0 5px 5px 0;
        color: white;
        cursor: pointer;
        font-size: 16px; // 和输入框的字体大小保持一致
        font-weight: 600;
        box-sizing: border-box; // 确保内边距和边框不会增加按钮的总高度
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #00acc1;
        }
    }

    .suggestions {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 0;
        margin-top: -1px;
        transition: all .3s ease;

        li {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}