.container {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    .avatar {
        position: relative;
        width: 110px;
        height: 110px;
        transition: filter 375ms ease-in 0.2s, transform 0.3s;
        background-size: cover;
        background-position: center;
        border: 1px solid #ccc;
        border-radius: 50%;

        overflow: hidden;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200%;
            height: 200%;

            background-color: rgba(233, 30, 30, 0.2);
            border-radius: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);

            transition: width 1.8s, height 1.8s, opacity 1.8s;

            pointer-events: none;
        }

        &:active::after {
            width: 0;
            height: 0;
            opacity: 1;
            transition: width 0s, height 0s, opacity 0s;
        }

    }

    .name {
        font-weight: bold;
        font-size: 20px;
        margin: 4px 0px;
    }

    .description {
        font-size: 14px;
        text-align: center;
        margin: 2px 0px;
        color: #4c4948;
    }

    .categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            margin: 0 10px;
            color: #4c4948;

            &>div {
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: #49b1f5b3;
                    transform: translateY(-2px);
                }

            }
        }
    }

    .links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .link {
        position: relative;
        color: inherit;
        text-decoration: none;
        font-size: 18px;

        &:hover {
            text-decoration: underline;
            transform: translateY(-2px);
        }
    }
}